html{
    scroll-behavior: smooth;
  }
  :root{
      --pink: #ff5e94;
      --green: #599459;
  }
  h1,h2,h3,h4,h5,h6{
      padding: 0;
      margin: 0;
  }
  p{
      padding: 0;
      margin: 0;
  }
  ul{
      padding: 0;
      margin: 0;
  }
  .section-title{
    text-align: center;
    margin-bottom: 50px;
  }
  .section-title h1{
      font-weight: bold;
  }
  .btn{
      background-color: #a5a8a5;
      color: #fff;
      padding: 12px 30%;
      border-radius: 0;
  }
  .form-control{
      height: 50px;
      margin-bottom: 15px;
  }
  .float-right{
      float: right!important;
  }
  a:hover{
    text-decoration: none;
}
  section{
      padding: 100px 0;
  }
  .mb-50{
    margin-bottom: 50px;
}
 .mb-30{
    margin-bottom: 30px;
}
.mt-30{
    margin-top: 30px;
}
.pt-30{
    padding-top: 50px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-70{
    padding-bottom: 70px;
}
li{
    list-style: none;
}
.bold{
    font-weight: bold;
}
/*  <!-- ===========================================
================  Navbar  ===============  
===========================================  --> */
.nav-item{
    font-size: 13px;
}
.nav-link{
    color: #fff!important;
}
.nav-icon a{
    color: #fff;
    font-size: 13px;
}
.home{
    color: aqua!important;
    border-bottom: 2px solid #8ef38e;
}
.navbar{
    padding: 15px 0;
    background-color: green;
}
/*  <!-- ===========================================
================  Services  ===============  
===========================================  --> */
.service-icon-1 span{
    font-size: 40px;
    color: #7af07a;
}
.service-box-1:hover .service-textarea h2{
    color: #7af07a
}
.service-icon-2 span{
    font-size: 40px;
    color: #4ed8f0;
}
.service-box-2:hover .service-textarea h2{
    color: #4ed8f0;
}
.service-box-1:hover .trans-icon{
    transform: scale(1.5);
}
.service-box-2:hover .trans-icon{
    transform: scale(1.5);
}
.service-textarea a{
    color: #000;
}
/*  <!-- ===========================================
================  Project Lists  ===============  
===========================================  --> */
.list-box-1:hover .list-box-1 a{
    color: green;
}
.list-box-1 a{
    font-size: 60px!important;
    color: #fff;
}
.list-box-1{
    color: #fff;
    background-color: #7af07a;
    padding: 80px 20px;
}
.list-box-2 a{
    font-size: 60px!important;
    color: #fff;
}
.list-box-2{
    color: #fff;
    background-color: #a5a8a5;
    padding: 80px 20px;
    transition: .06s all ease;
}

.list-box-3 a{
    font-size: 60px!important;
    color: #fff;
}
.list-box-3{
    color: #fff;
    background-color: #4ed8f0;
    padding: 80px 20px;
}
.list-box-4 a{
    font-size: 60px!important;
    color: #fff;
}
.list-box-4{
    color: #fff;
    background-color: #7af07a;
    padding: 80px 20px;
}
.list-box-1:hover .trans-icon{
    transform: scale(1.5);
}
.list-box-2:hover .trans-icon{
    transform: scale(1.5);
}
.list-box-3:hover .trans-icon{
    transform: scale(1.5);
}
.list-box-4:hover .trans-icon{
    transform: scale(1.5);
}
/*  <!-- ===========================================
================  Offers  ===============  
===========================================  --> */
.offer-top-color{
    background-color: #7af07a;
    height: 77px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: .6s all ease;
}
.offer-icon a{
    font-size: 40px;
    color: #fff;
}
.offer-icon{
    background-color:#7af07a;
    position: absolute;
    height: 108px;
    width: 108px;
    border-radius: 50%;
    line-height: 110px;
    display: block;
    top: 20px;
    left: 50%;
    transform: translate(-50%,0);
    transition: .6s all ease;
}
.offer-textarea{
    padding-top: 125px;
    padding-bottom: 50px;
    background-color: #fff;
    border: 2px solid #fff;
}
.main-offer{
    position: relative;
    overflow: hidden;
}

.main-offer:hover .offer-top-color{
    background-color: #4ed8f0;
}
.main-offer:hover .offer-icon{
    background-color: #4ed8f0;
}
.offer-textarea a{
    color: #e4dede;
    font-weight: bold;
}
.offer-textarea a:hover{
    color: #4ed8f0;
}
.trans-icon{
    transition: 1s all ease;
}
.main-offer:hover .trans-icon{
    transform: scale(1.5);
}
/*  <!-- ===========================================
================  Pricing ===============  
===========================================  --> */
 .pricing-name{
    padding-right: 20px;
    border-top: 2px solid #c9c5c5;
}
.pricing-name h4{
    border-bottom: 2px solid #c9c5c5;
    padding: 15px 0;
}
.pricing-textarea{
    padding-right: 20px;
}
.pricing-textarea p{
    border-bottom: 2px solid #c9c5c5;
    padding: 10px 0;
}
.pricing-dollar-sign{
    font-size: 25px;
}
.pricing-dollar{
    font-size: 40px;
}
.pricing-list{
    margin-bottom: 100px;
}
.pricing-box{
    background-color: #e5e9e5;
}
.pricing-color{
    color: #7af07a;
}
.pricing-btn .btn{
    background-color: #7af07a;
    transition: .6s all ease;
}
.pricing-box:hover .pricing-btn a{
    background-color: #4ed8f0;
    color: #fff;
}
/*  <!-- ===========================================
================  Footer ===============  
===========================================  --> */
.footer-links a{
    color: #fff;
}
span{
    color: #fff;
}
.footer-textarea p{
    color: #e4dede;
}
@media only screen and (min-width:992px){
    .nav-item{
        margin-right: 25px;
    }
}
@media only screen and (max-width:575px){
    .navbar{
        padding: 15px 0 15px 15px;
    }
}
@media only screen and (max-width:373px){
    .footer-links a{
        font-size: 10px;
    }
}
@media only screen and (max-width:289px){
    .navbar-brand img{
        width: 120px!important;
    }
}

